<!DOCTYPE html>
<html>
<head>
    <title>Summary</title>
</head>
<body>
    <h1>시간표 요약</h1>
    <table border="1">
        <thead>
            <tr>
                <th>과목 이름</th>
                <th>교수</th>
                <th>시간</th>
            </tr>
        </thead>
        <tbody>
            {% for course in timetable %}
                <tr>
                    <td>{{ course['name'] }}</td>
                    <td>{{ course['prof'] }}</td>
                    <td>{{ course['time'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form method="get" action="/summary">
        <button type="submit">다른 시간표 생성</button>
    </form>
</body>
</html>
