<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>입력 정보 요약</title>
</head>
<body>
    <h1>입력 정보 요약</h1>
    
    <h2>선택된 과목</h2>
    <ul>
        {% for course in courses %}
        <li>
            <strong>과목명:</strong> {{ course['name'] }} <br>
            <strong>교수:</strong> {{ course['prof'] }} <br>
            <strong>학점:</strong> {{ course['grade'] }} <br>
            <strong>강의 시간:</strong> {{ course['time'] }} <br>
        </li>
        {% endfor %}
    </ul>

    <h2>듣고 싶은 과목</h2>
    <ul>
        {% for course in preferences.desired_courses %}
        <li>{{ course }}</li>
        {% endfor %}
    </ul>

    <h2>카테고리별 선택 과목 수</h2>
    <ul>
        {% for category, count in preferences.category_selections.items() %}
        <li>{{ category }}: {{ count }}개</li>
        {% endfor %}
    </ul>
    <h2>
        불가능 시간대: {{preferences['unavailable_times']}}
    </h2>
</body>
</html>
